body {
  background-color: #4b0082;
  color: white;
}
.row button {
  width: 100%;
  height: 100%;
  background-color: #ff1493;
}
.col-md-3 {
  margin-top: 1rem;
}
.navbarcolor {
  background-color: #4b0082;
}
.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
}
.searchButton {
  border: none;
  background-color: #ff1493;
  color: white;
}
.modalsection {
  background-color: #ff1493;
}
.btn-close {
  color: #ff1493;
}
.card-body {
  background-color: #ff1493;
  color: white;
}
.card {
  border: none;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
